.container{height: 70vh;}
        .box{
            padding:25px;
            text-align: center;
            color: white;
            
        }
        #box1{
            background-color: teal;
			height: 70px;
            width: 1000px;
        }
        #box2{
            background-color: rgb(30, 146, 107);
            height: 530px;
            width: 130px; 
            float:left;
        }
        #box3{
            background-color: rgb(35, 202, 173);
            height: 530px;
            width: 820px; 
            float:left;
        }
        #box4{
            background-color: rgb(21, 109, 80);
			height: 50px;
            width: 1000px;
			float:left;
        }